/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
#/public/assets/image/foto/*
#/public/assets/file/laporan-akhir-penelitian/*
#/public/assets/file/laporan-akhir-pengabmas/*
#/public/assets/file/laporan-kemajuan-penelitian/*
#/public/assets/file/laporan-kemajuan-pengabmas/*
#/public/assets/file/tanggapan-usulan-penelitian/*
#/public/assets/file/tanggapan-usulan-pengabmas/*
#/public/assets/file/usulan-penelitian/*
#/public/assets/file/usulan-pengabmas/*